@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300&family=Satisfy&display=swap');

:root {

    --bs-boxShadow: 2px 2px 0px #141010;
    --c-cards: #f5f0f0;
    --c-background: #0f0c0c;
    --c-header: #f5f5fa;
    --c-button: #B966D9;
    --c-Orange: #EB692F;
    --c-Blue: #0054AE;

    --ff-Title: 'Satisfy', cursive;
    --ff-subHead: 'Lato', sans-serif;

}
* {
    box-sizing: border-box;
}

body {
    background-color: var(--c-background);
    color: var(--c-header);
    padding:1rem;
}


h1 {
    font-family: var(--ff-Title);
    font-size: clamp(2rem, 5vw, 3rem);
}

h2 {
    font-family: var(--ff-subHead);
    font-size: clamp(1.25rem, 4vw, 1.5rem);
    letter-spacing: 0.1em;
}

h3 {
    font-family: var(--ff-subHead);
    font-size: clamp(1.15rem, 4vw, 1.2rem);
    font-weight: 1000;
}

  /*
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
      justify-content: center;*/

.grid-p {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
  
}

.tile1 {
    grid-column: span 3;
    grid-row: span 2;
}
.tile2 {
    grid-column: span 1;
    grid-row: span 2;
}
.tile3 {
    grid-column: span 2;
    grid-row: span 3;
}
.tile4 {
    grid-column: span 1;
    grid-row: span 2;
}
.tile5 {
    grid-column: span 3;
    grid-row: span 3;
}
.tile6 {
    grid-column: span 2;
    grid-row: span 2;
}
.tile7 {
    grid-column: span 1;
    grid-row: span 3;
}
.tile8 {
    grid-column: span 2;
    grid-row: span 2;
}
.tile9 {
    grid-column: span 3;
    grid-row: span 2;
}

#tile {
    border-radius: .5rem;
    background-color: var(--c-header);
    color: var(--c-Blue);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
img {
    width: 100%;
    object-fit: cover;
    /*height: 275px;*/
    padding: .5rem;
    border: 1px solid #ccc;
    background: white;
    border-radius: .25rem;
 }

#tile a{
    display: block;
    background: var(--c-button);
    font-weight: 800;
    font-size: 1.15rem;
    text-align: center;
    padding: 1rem 6rem ;
    border-radius: .3rem;
    color: white;
    text-decoration: none;
}
#tile a:hover{
    background: var(--c-Orange);
}

footer {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: var(--ff-subHead);
    font-size: clamp(1rem, 3vw, 1.2rem);
    font-weight: 300;
}